{
    "extends": [
        "eslint:recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "airbnb"
    ],
    "plugins": [
        "react"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jquery": true,
        "mocha": true
    },
    "rules": {
        "arrow-parens": [
            "error",
            "as-needed"
        ],
        "no-console": "off",
        "consistent-return": "off",
        "no-param-reassign": "off",
        "no-tabs": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "jsx-a11y/no-static-element-interactions": "off",
        "jsx-a11y/label-has-for": "off",
        "linebreak-style": "off",
        "react/jsx-filename-extension": "off",
        "no-mixed-spaces-and-tabs": "off",
        "import/prefer-default-export": "off",
        "react/forbid-prop-types": "off",
        "no-prototype-builtins": "off",
        "react/sort-comp": "off",
        "react/destructuring-assignment": "off",
        "camelcase": "off",
        "implicit-arrow-linebreak": "off",
        "indent": "off", //TOFIX
        "semi": "off", //TOFIX
        "arrow-body-style": "off", //TOFIX
        "react/jsx-indent": "off", //TOFIX
        "react/jsx-indent-props": "off", //TOFIX
        "operator-linebreak": "off", //TOFIX
        "func-names": "off", //TOFIX
        "generator-star-spacing": "off", //TOFIX
        "no-nested-ternary": "off", //TOFIX
        "no-underscore-dangle": "off", //TOFIX
        "radix": "off", //TOFIX
    }
}