<div class="header">
    <div class="menu-wrapper">
        <div class="menu-list">
            <div class="menu-item">
                продавать на ECRO
            </div>
            <div class="indent-line"></div>
            <div class="menu-item">
                Защита покупателя
            </div>
            <div class="indent-line"></div>
            <div class="menu-item">
                Доставка: Украина
            </div>
            <div class="indent-line">
            </div>
            <div class="menu-item">
                USD
            </div>
            <div class="indent-line"></div>
            <div class="menu-item">
                English
            </div>
        </div>
    </div>
    <div class="row-wrapper">
        <div class="row">
            <a href="#" routerLink="/" class="logo-wrapper in-page" >
                <img src="../assets/images/app-logo-none-description.svg" />
            </a>
            <div class="category">
                <div class="category-icon">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <div class="text">
                    Категории
                </div>
            </div>
            <form class="search-wrapper">
                <input class="search-input"  placeholder="Очки солнцезащитные" type="text">

                <button
                        mat-raised-button
                        class="button-search">
                    <img src="../assets/images/app-search.svg" />
                </button>
            </form>
            <div class="basket">
                <img src="../assets/images/app-basket.svg" />
                <div class="description">
                    <div class="counter">
                        <div class="number">
                            32
                        </div>
                    </div>
                    <div class="text">
                        Корзина
                    </div>
                </div>
            </div>
            <div class="desires">
                <img src="../assets/images/app-heart.svg" />
                <div class="description">
                    <div class="text">
                        Мои желания
                    </div>
                </div>
            </div>
            <div class="profile">
                <div class="description login">
                    <div class="text">
                        Войти
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-wrapper lk-page-menu" >
        <div class="row">
            <ul>
                <li>
                    <a href="#">Мой магазин</a>
                </li>
                <li>
                    <a href="#">Ассортимент</a>
                </li>
                <li>
                    <a href="#">Маркетинг</a>
                </li>
                <li>
                    <a href="#">Аналитика</a>
                </li>
                <li>
                    <a href="#">ECRO для покупок</a>
                </li>
                <li>
                    <a href="#">Настройки профиля</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<div class="footer">
    <div class="top">
        <div class="col">
            <div class="title">
                Название колонки
            </div>
            <a href="" class="link">
                Помощь и Обратная связь
            </a>
            <a href="" class="link">
                Блог ECRO Place
            </a>
            <a href="" class="link">
                Условия использования
            </a>
            <a href="" class="link">
                Как продавать и покупать?
            </a>
            <a href="" class="link">
                Правила безопасности
            </a>
            <a href="" class="link">
                Карта сайта
            </a>
            <a href="" class="link">
                Популярные запросы
            </a>
            <a href="" class="link">
                Рекламные предпочтения
            </a>
        </div>
        <div class="col">
            <div class="title">
                Название колонки
            </div>
            <a href="" class="link">
                Платные услуги
            </a>
            <a href="" class="link">
                Для прессы
            </a>
            <a href="" class="link">
                Реклама на сайте
            </a>
            <a href="" class="link">
                Партнёры
            </a>
            <a href="" class="link">
                Работа в ECRO Place
            </a>
        </div>
        <div class="col">
            <div class="title">
                Подписываеся на наши новости и буть в курсе последних событий, акций и предложениф именно для тебя
            </div>
            <div class="feedback-wrapper">
                <input class="mail" type="text" placeholder="Введите свой емаил">
                <div class="subscribe">
                    <div class="text">
                        Подписаться
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="indent-line"></div>
    <div class="bottom">
        <div class="copyright">
            © ECRO Place, Inc., 2019
        </div>
        <div class="social-networks">
            <a href="#" class="network-wrapper">
                <img src="../assets/images/app-insta.svg" />
            </a>
            <a href="#" class="network-wrapper">
                <img src="../assets/images/app-facebook.svg" />
            </a>
            <a href="#" class="network-wrapper">
                <img src="../assets/images/app-mess.svg" />
            </a>
            <a href="#" class="network-wrapper">
                <img src="../assets/images/app-twitter.svg" />
            </a>
        </div>
    </div>
</div>


